<div class="container">
  <form [formGroup]="form">
    <div class="form-group col-lg-6">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" formControlName="phoneNumber" id="phone">
    </div>
    <div class="form-group col-lg-6">
      <label for="type">Type</label>
      <select class="form-select" id="type" formControlName="phoneNumberTypeID">
        <option *ngFor="let type of types" value="{{type.phoneNumberTypeID}}">{{type.name}}</option>
      </select>
    </div>
    <div class="div-button">
      <button type="submit" class="btn btn-primary" [disabled]="formInvalid" (click)="create()" *ngIf="!updateMode">Create</button>
      <button type="submit" class="btn btn-primary" [disabled]="formInvalid" (click)="update()" *ngIf="updateMode">Update</button>
    </div>
  </form>
</div>
